body {
    margin: 0;
    padding: 0;

    background-color: #f0f0f0;
}

.footer-container-mn{
    background-color: #128754;
    margin: 0 auto;
    padding: 50px;

    text-align: center;
}


/* Top Nav Bar */
ul {
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

.topnav-mn {
    background-color: rgb(18, 135, 80);
}


li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: underline white;
}

li:hover:not(.active) {
    background-color: white;
}

.topnav-mn a:hover {
    background-color: #ffffff;
    color: rgb(18, 135, 80);
}

/* Login-Out */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 40px;
  }

.dropdown-container-mn {
    position: relative;
    display: inline-block;
}

.dropdown-cont-mn {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-cont-mn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-cont-mn a:hover {background-color: #f1f1f1}

.dropdown-container-mn:hover .dropdown-cont-mn {
  display: block;
}

.dropdown-container-mn:hover .dropbtn {
  background-color: #3e8e41;
}


/*Left drop nav*/

.dropdown-sidenav-ul{
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

.dropdown-sidenav-li{
    display: inline;
    float: left;
}
/* Header */
.docManagerHeader-mn{
    background-color: #ffffff;
    padding: 0;
    height: 44px;

    display: block;
}

/*Admin Page*/

/*Top Row*/
#top-management-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 0 auto;
    padding: 50px;
}

.recordSummary-mn{
    background-color: lightblue;
}
.pendingRecords-mn{
    background-color: lightblue;
}
/*Pending Records Table*/

.pendingRec-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .pendingRec-td, .pendingRec-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .pendingRec-tr{
    background-color: #dddddd;
  }

/*Bottom Row*/

.analysis-mn{
    background-color: lightblue;
} 
.recentTask-mn{
    background-color: lightblue;
} 
.recentRecords-mn{
    background-color: lightblue;
}

#bottom-management-row{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 0 auto;
}

#report-sender-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


#barChart{
    background-color: #f0f0f0;
}

/*Recent Records Table*/

.recentRec-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .recentRec-td, .recentRec-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .recentRec-tr{
    background-color: #dddddd;
  }

/*Report Sender*/
.report-sender-container{
    background-color: #363636;
    margin: 0 auto;
    padding: 50px;
}
.report-sender{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
    padding: 50px;
}























































/*KFH CSS for Top Right content*/
.topbar-dropdown.login-tp {
    background: #f1f1f1;
    color: #363636;
}
.login-tp.topbar-dropdown .title {
    padding: 24px 20px 20px 20px;
}
.topbar-dropdown .title {
    line-height: 44px;
}

.topbar-dropdown .title {
    padding: 0;
    cursor: pointer;
    text-align: right;
    text-transform: uppercase;
    font-family: 'latoregular';
    font-size: 14px;
    font-weight: 600;
}

.login-tp {
    background: #1ab05c;
    float: right;
}

.topbar-dropdown {
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.topbar-dropdown.login-tp .fa.fa-caret-down {
    color: #128754;
}

.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa, .fas, .far, .fal, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.topbar-dropdown.login-tp .dropdown-list {
    left: inherit;
    right: 0;
    width: 300px;
    padding: 10px 20px;
}

.topbar-dropdown .dropdown-list {
    position: absolute;
    width: 180px;
    right: 0px;
    top: 100%;
    border-radius: 0;
    background-color: #f1f1f1;
    padding: 0px 16px;
    z-index: 1;
    text-align: left;
    opacity: 1;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transform-origin: 50% 0% 0px;
    -moz-transform-origin: 50% 0% 0px;
    -webkit-transform-origin: 50% 0% 0px;
    -ms-transform-origin: 50% 0% 0px;
    z-index: 1;
    visibility: visible;
}
.collapse {
    display: none;
}


.search-form {
    float: left;
    overflow: hidden;
    width: 240px;
}

form {
    display: block;
    margin-top: 0em;
}

#search-btn {
    cursor: pointer;
    float: right;
    height: 89px;
    padding: 30px 20px;
    position: relative;
    z-index: 999999 !important;
}

