body {
    margin: 0;
    padding: 0;
    height: 1080px;
    background-color: #f0f0f0;
}

footer {
    background-color: #128754;
    color: white;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    position: fixed;
}


/* Top Nav Bar */
.topnav-mn {
    width: 100%;
    height: 50px;
    background-color: rgb(18, 135, 80);
}

.topnav-mn ul {
    margin: 0 auto;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.topnav-mn li {
    margin: 0;
}

.topnav-mn a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
}

.topnav-mn a:hover {
    background-color: #ffffff;
    color: rgb(18, 135, 80);
}

/*HEADER*/

.header-mn {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.header {

    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 0px;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #f0f0f0;

}

.header-center {
    width: 10px;
}

.header-left,
.header-right {
    padding: 5px;
}



.header-mn {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    height: 44px;
}



.searchbar-mn {
    display: flex;
    align-items: center;
}

.searchbar-content-mn {
    /* Remove border property */
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchbar-content-mn form {
    display: flex;
    align-items: center;
}

.searchbar-content-mn input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.searchbar-content-mn button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.log-mn {
    float: right;
}



/* Login-Out */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 40px;
}

.dropdown-container-mn {
    position: relative;
    display: inline-block;
}

.dropdown-cont-mn {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-cont-mn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-cont-mn a:hover {
    background-color: #f1f1f1
}

.dropdown-container-mn:hover .dropdown-cont-mn {
    display: block;
}

.dropdown-container-mn:hover .dropbtn {
    background-color: #3e8e41;
}



/*search bar*/
.searchbar-content-mn {
    float: right;
    display: flex;
}

.searchbar-content-mn button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.searchbar-content-mn button:hover {
    background: #ccc;
}


/*Left drop nav*/

.dropdown-sidenav-ul {
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

.dropdown-sidenav-li {
    display: inline;
    float: left;
}


/*Admin Page*/

/*Top Row*/
#top-management-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 0 auto;
    padding: 50px;
}

.recordSummary-mn {
    background-color: lightblue;
}

.pendingRecords-mn {
    background-color: lightblue;
}

/*Pending Records Table*/

.pendingRec-td.scroll-text {
    max-width: 200px; /* Set maximum width for the cell */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow:clip;
}



.pendingRec-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.pendingRec-td,
.pendingRec-th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.pendingRec-tr {
    background-color: #dddddd;
}

/*Bottom Row*/

.analysis-mn {
    background-color: lightblue;
}

.recentTask-mn {
    background-color: lightblue;
}

.recentRecords-mn {
    background-color: lightblue;
}

#bottom-management-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 0 auto;
}

#report-sender-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}


#barChart {
    background-color: #f0f0f0;
}

/*Recent Records Table*/

.recentRec-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.recentRec-td,
.recentRec-th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.recentRec-tr {
    background-color: #dddddd;
}

/*Report Sender*/
.report-sender-container {
    background-color: #363636;
    margin: 0 auto;
    padding: 50px;
}

.report-sender {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
    padding: 50px;
}


/* home.php */


.header-content {
    height: 44px;
    padding: 10px;
    background-color: #128754;
    color: white;
}



/* LOGIN PAGE */

.loginContent {
    margin: 0px auto;

    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.registerContent {
    text-align: center;
}


.input {
    border-radius: 5px;
    border: solid thin #aaa;
    padding: 10px;
    margin: 4px;
    display: flex;
}

.button {
    border-radius: 5px;
    border: solid thin #aaa;
    padding: 10px;
    margin: 4px;

    cursor: pointer;
}
.login-input{
    height: 25px;
    width: 165px;
}


/* VIEW OWNED UPLOADED DOCS */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* user-files */
/* Style for the action links */
.action-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}


/* Style for the table */









































/*KFH CSS for Top Right content*/
.topbar-dropdown.login-tp {
    background: #f1f1f1;
    color: #363636;
}

.login-tp.topbar-dropdown .title {
    padding: 24px 20px 20px 20px;
}

.topbar-dropdown .title {
    line-height: 44px;
}

.topbar-dropdown .title {
    padding: 0;
    cursor: pointer;
    text-align: right;
    text-transform: uppercase;
    font-family: 'latoregular';
    font-size: 14px;
    font-weight: 600;
}

.login-tp {
    background: #1ab05c;
    float: right;
}

.topbar-dropdown {
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.topbar-dropdown.login-tp .fa.fa-caret-down {
    color: #128754;
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.topbar-dropdown.login-tp .dropdown-list {
    left: inherit;
    right: 0;
    width: 300px;
    padding: 10px 20px;
}

.topbar-dropdown .dropdown-list {
    position: absolute;
    width: 180px;
    right: 0px;
    top: 100%;
    border-radius: 0;
    background-color: #f1f1f1;
    padding: 0px 16px;
    z-index: 1;
    text-align: left;
    opacity: 1;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transform-origin: 50% 0% 0px;
    -moz-transform-origin: 50% 0% 0px;
    -webkit-transform-origin: 50% 0% 0px;
    -ms-transform-origin: 50% 0% 0px;
    z-index: 1;
    visibility: visible;
}

.collapse {
    display: none;
}


.search-form {
    float: left;
    overflow: hidden;
    width: 240px;
}

form {
    display: block;
    margin-top: 0em;
}

#search-btn {
    cursor: pointer;
    float: right;
    height: 89px;
    padding: 30px 20px;
    position: relative;
    z-index: 999999 !important;
}

/* DOC UPLOAD SECTION */

.indexTestUpload {
  max-width: 400px;
  margin: 0 auto;
}

.docup-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="file"], select, input[type="text"], input[type="date"], .docup-submit[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="file"] {
  cursor: pointer;
}

.docup-submit[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.docup-submit[type="submit"]:hover {
  background-color: #0056b3;
}
